.search-bar {
    width: 100%;
    max-width: 400px;
    height: 40px;
    background: #F1F1F1;
    border-radius: 66px;

}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 20px;
    font-size: 20px;

}

::placeholder {
    color: #CCCCCC;
}

.search-bar button {
    background: transparent;
    border: 0;
    outline: none;
}

.search-bar button img {
    width: 25px;
    color: #CCCCCC;
}

div#navbarSupportedContent {
    margin-top: -20px;
    text-align: end;
    justify-content: end;
}

.slide-bg-color {
    background: #FEEAE9;
}

.text-degain p {
    color: #4E4E4E;
}

.text-degain>h1 {
    font-weight: 700;
    font-size: 56px;
}

.text-degain>h2 {
    font-weight: 500;
    font-size: 41px;
    color: #FF136F;
}

.text-degain button {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 6px;
    padding: 10px 20px;
}

.background-color-one {
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
    align-items: center;
}

.background-color-tow {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    align-items: center;
}

.background-color-three {
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
    align-items: center;
}

.categories h3 {
    font-weight: 500;
    font-size: 36px;
}

.categories img {
    width: 40%;
}

.show-bg {
    background: #F4F4F4;
}

.show-header-text {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.show-header-text p {
    color: #FF9D00;
}

.show-bg button {
    background: #000000;
    border-radius: 6px;
}

.footer-section {
    background: #FFF2F1;
}

.form-box {
    padding: 20px;
}

.form-box input,
button {
    outline: none;
    border: none;
    font-size: 18px;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
}