.search-style {
    border: 0;
    /* outline: none; */
    background: #aa3a3a;
    border-radius: 66px;
    /* display: flex; */
    /* flex-direction: row; */
    align-items: flex-start;
    padding: 12px;
    gap: 390px;
    width: 508.94px;
    flex: none;
    order: 1;
    flex-grow: 0;
}