.search-style input,
button {
    border: 0;
    outline: none;
    background: #F1F1F1;
    border-radius: 66px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 390px;
    width: 508.94px;
    flex: none;
    order: 1;
    flex-grow: 0;
}